@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(182, 172, 172);
}

body {
    background-color: rgb(182, 172, 172);
}

#Contacto {
    font-family: "Barlow";
    font-weight: bold;
    font-size: 40px;
    color: black;
    align-items:baseline;
    padding-left: 70px;
    margin-right: 40px;
}

button {
    background-color: transparent;
    font-family: "Barlow";
    font-weight: bold;
    font-size: 25px;
    margin-left: 90px;
    border-radius: 8px;
    border-width: 0;
    text-align:center;
}

button:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#imgdiv {
    float: left;
}

#textobienvenida {
    padding-top: 60px;
    padding-left: 600px;
    padding-right: 65px;

}

#textobienvenida p {
    font-family: "Barlow";
    font-weight: 550;
    font-size: 40px;
    color: black;
    align-items:baseline;
    padding-right: 0;
    text-align:center;
}

#nametitle, #pleca {
    font-family: "Barlow";
    font-weight: 550;
    font-size: 35px;
    color: black;
    align-items:baseline;
    padding-right: 0;
}

#foto {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 50px;
    padding-top: 28px;
    padding-bottom: 28px;
}

h2 {
    font-family: "Barlow";
    font-size: 28px;
    font-weight:lighter;
    color: black;
    align-items: baseline;
    padding-left: 0;

}

li, a {
    font-family: "Barlow";
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 5%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 5px;
    
}

.nav_links li a:hover {
    color: grey;
}

#colabs p {
    color: rgb(92, 92, 92);
    margin-left: 120px;
}

#trabajos {
    float:right
}

#trabajos img{
    width: 200px;
    height: 100px;
}

.nav_links #Inicio a, #Acerca a, #Service a, #Contact a {
        font-family: "Barlow";
        font-size: 20px;
        color: black;
        text-decoration: none;
}

.nav_links #Inicio a:hover {
    font-family: "Barlow";
    font-size: 20px;
    color: grey;
    text-decoration: none;
}

#ContactLinks li, i {
    list-style: none;
    padding: 15px 30px;
    font-size: 30px;
}

#ContactLinks a {
    list-style: none;
    font-size: 30px;
}

#ContactLinks a:hover {
    list-style: none;
    font-size: 30px;
    color: gray;
}

#columnas {
    float:left;
    padding-right: 0px;
}

#floating {
    float: center;
    text-align: center;
    padding-top: 35px;
    padding-left: 600px;
    padding-right: 110px;
}

#Conf {
    font-family: "Barlow";
    font-size: 35px;
    color: black;
    text-decoration: none;
}

#CallTo {
    background-color: black;
    font-family: "Barlow";
    color: white;
    padding-left: 35px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 0px;
    border-radius: 8px;
    border-width: 1px;
    text-align: center;
    vertical-align: middle;
}

#CallTo:hover {
    background-color: white;
    font-family: "Barlow";
    color: black;
    padding-left: 35px;
    font-weight: bold;
    font-size: 25px;
    margin-left: 0px;
    border-radius: 8px;
    border-width: 1px;
    text-align: center;
    vertical-align: middle;
}

#skilldivs {
    width: 50%;
    height: 50%;
    float: left;
}